
.table1 thead {

    top: 0;
    z-index: 1;
   
  }
  
  
  
  .align{
    padding-top: 60px;
  }
  
  
  .table1 {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
   
      
      justify-content: center;
      text-align: center;
      display: flex;
    /*margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 50px;
    overflow: auto;
    height: 100vh;
    margin-bottom: 50px;
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow-x: auto; 
    }
    .table-responsive {
      overflow-x: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
    
  
  
  
    
    .table1 td, .table1 th {
      border: 1px solid #ddd;
  
      text-align: center;
      opacity:0.5px;
     white-space: nowrap;
  
    }
    
    .table1 tr:nth-child(even){background-color: #f2f2f2;}
    
    .table1 tr:hover {background-color: #ddd;}
    
    .table1 th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: goldenrod ;
      color: white;
      padding: 20px;
      position: sticky;
      top: 0;
      color: white;
      z-index: 1;
      
     
    }
    #userimg{
      margin: 10px;
      border-radius: 10%;
      height: auto;
      max-width: 100%;
    }
  
  
  .head{
    
    text-align: center;
    font-size: 30px;
  }
  
  
  @media screen and (max-width: 768px) {
  
    .table-responsive {
      overflow: auto;
    }
    .table1 {
      overflow-x: auto;
    }
    .table1 td,
    .table1 th {
      white-space: normal;
      padding: 10px; /* Adjust the padding as needed */
    }
  
  }